@inherits LayoutComponentBase

<PageTitle>BlazorCustomAuthentication</PageTitle>

<div class="page">

    <div class="sidebar">
        <AuthorizeView>
            <Authorized>
                <NavMenu/>
            </Authorized>
        </AuthorizeView>
    </div>
    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>